$coul1: #e9d985;
$coul2: #b2bd7e;
$coul3: #749c75;
$coul4: #0e3b10;
$coul5: #6a5d7b;
$coul6: #5d4a66;

html,
body {
	background-color: #e8def3;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin: 0;
	overflow-x: hidden;
	padding: 0;
	width: 100%;
}

figcaption {
	font-size: small;
	font-style: italic;
	text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 50px 50px 0;
}

@media screen and (max-width: 800px) {
	h1,
	h2,
	h3,
	h4,
	h5 {
		margin: 50px 10px 0;
	}
}

p {
	margin-left: 50px;
	margin-right: 50px;
	line-height: 1.6;
	text-align: justify;
}

@media screen and (max-width: 800px) {
	p {
		margin-left: 10px;
		margin-right: 10px;
	}
}

//NAVBAR

nav {
	background-color: $coul3;
	list-style: none;
	margin-top: 0;
	overflow: hidden;
	padding: 0;
	li {
		float: left;
		a {
			color: white;
			display: block;
			padding: 15px;
			text-align: center;
			text-decoration: none;
			&:hover {
				background-color: $coul5;
			}
		}
		&:first-child {
			background-color: $coul6;
		}
	}
	.defilantcentre,
	.defilantdroite {
		overflow: hidden;
		&:hover .contdefilant {
			display: block;
		}
		.boutondefilant {
			background-color: inherit;
			border: none;
			color: white;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-size: 15px;
			margin: 0;
			outline: none;
			padding: 16px;
		}
		.contdefilant {
			display: none;
			position: absolute;
			z-index: 1;
			a {
				background-color: $coul3;
				display: block;
				&:hover {
					background-color: $coul5;
				}
			}
			li {
				float: none;
				a {
					text-align: left;
				}
			}
		}
	}
	.defilantcentre {
		float: left;
	}
	.defilantdroite {
		float: right;
	}
}

@media screen and (max-width: 930px) {
	nav > li:not(:first-child) {
		display: none;
	}
}

@media screen and (min-width: 930px) {
	.defilantcentre {
		display: none;
	}
}

// Carroussel

.wideslide {
	background-color: rgb(0, 0, 0);
	height: 600px;
	margin: 0 0 40px;
	position: relative;
	.mySlides {
		display: none;
		.numbertext {
			color: #f2f2f2;
			font-size: 12px;
			padding: 8px 12px;
			position: absolute;
			top: 0;
			text-shadow: 1px 1px $coul6;
		}
		.carrousel {
			height: 550px;
			object-fit: cover;
			width: 100%;
		}
		.centered {
			color: rgb(255, 255, 255);
			font-size: 35px;
			left: 50%;
			position: absolute;
			top: 50%;
			text-align: center;
			text-shadow: 2px 2px 1px $coul3;
			transform: translate(-50%, -50%);
			width: 80%;
			h1 {
				font: unset;
				margin: 0;
			}
		}
		.text {
			bottom: 3px;
			color: #f2f2f2;
			font-size: 18px;
			position: absolute;
			text-align: center;
			width: 100%;
		}
	}
	.fade {
		-webkit-animation-duration: 1.5s;
		-webkit-animation-name: fade;
		animation-duration: 1.5s;
		animation-name: fade;
	}
	@-webkit-keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
	@keyframes fade {
		from {
			opacity: 0.4;
		}
		to {
			opacity: 1;
		}
	}
}

@media screen and (max-width: 900px) and (min-width: 700px) {
	.wideslide {
		height: 450px;
		.mySlides .carrousel {
			height: 400px;
		}
	}
}
@media screen and (max-width: 700px) and (min-width: 550px) {
	.wideslide {
		height: 400px;
		.mySlides .carrousel {
			height: 350px;
		}
	}
}
@media screen and (max-width: 550px) {
	.wideslide {
		height: 300px;
		.mySlides {
			.carrousel {
				height: 260px;
			}
			.centered {
				font-size: 25px;
			}
			.text {
				font-size: 16px;
			}
		}
	}
}
@media only screen and (max-width: 300px) {
	.wideslide .mySlides {
		.centered {
			font-size: 20px;
		}
		.text {
			font-size: 13px;
		}
	}
}

// Traduction

#traductionNomSite {
	cursor: help;
	text-decoration: underline $coul6 dotted;
}

#traductionNomSiteBoite {
	background-color: $coul1;
	border: 2px solid $coul6;
	border-radius: 5px;
	transform: translateY(-150%);
	display: none;
	left: 10%;
	margin-right: 10px;
	padding: 10px;
	position: absolute;
	z-index: 2;
}

// Toggle metric

#toggleMeasure {
	background-color: $coul5;
	border: 1px solid $coul3;
	border-radius: 15px;
	color: white;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width: MIN(300px, 100%);
	text-align: center;
	#toggleDescUS,
	#toggleDescWorld {
		margin: 10px;
		align-self: center;
	}
	.choisi {
		text-shadow: 1px 1px $coul3;
	}
	.nonChoisi {
		font-size: small;
		text-shadow: none;
	}
	div:nth-child(2) {
		display: block;
		height: 34px;
		margin: 10px auto;
		position: relative;
		width: 60px;
		div {
			height: 0;
			opacity: 0;
			width: 0;
			&.deselectionne + span {
				background-color: #ccc;
				&::before {
					-ms-transform: translateX(0);
					-webkit-transform: translateX(0);
					transform: translateX(0);
				}
			}
			&:focus + span {
				box-shadow: 0 0 1px $coul3;
			}
		}
		span {
			-webkit-transition: 0.4s;
			background-color: $coul3;
			border-radius: 34px;
			bottom: 0;
			cursor: pointer;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: 0.4s;
			&::before {
				-webkit-transition: 0.4s;
				background-color: white;
				border-radius: 50%;
				bottom: 4px;
				content: "";
				height: 26px;
				left: 4px;
				position: absolute;
				transition: 0.4s;
				width: 26px;
				-ms-transform: translateX(24px);
				-webkit-transform: translateX(24px);
				transform: translateX(24px);
			}
		}
	}
}

@media screen and (max-width: 270px) {
	#toggleMeasure {
		display: block;

		#toggleDescUS,
		#toggleDescWorld {
			margin: 5px;
		}
	}
}

.uSInd {
	display: none;
}

// CLIMAT tableau

.climatlangue {
	margin: 0 50px;
	width: 530px;
	position: relative;
	.climattab {
		display: flex;
		justify-content: space-between;
		width: 100%;
		button {
			background-color: white;
			cursor: pointer;
			flex-grow: 1;
			outline: none;
			padding: 14px;
			transition: 0.3s;
			&:hover,
			&.active {
				background-color: $coul6;
				color: white;
			}
		}
	}
	#fermerville {
		color: white;
		cursor: pointer;
		display: none;
		font-size: larger;
		position: absolute;
		right: 10px;
		top: 55px;
		&:hover {
			color: $coul1;
		}
	}
	.climattable {
		--table-border-width: 1px;
		background-color: $coul5;
		border-collapse: collapse;
		border-radius: 0 0 5px 5px;
		color: white;
		display: none;
		margin: 0;
		padding-bottom: 20px;
		padding-left: 20px;
		width: 100%;
		th {
			height: 120px;
			padding: 0 4px 4px;
			position: relative;
			white-space: nowrap;
			& > div {
				bottom: 0;
				left: 0;
				position: absolute;
				text-align: left;
				transform: translate(
						calc(100% - var(--table-border-width) / 2),
						var(--table-border-width)
					)
					rotate(315deg);
				transform-origin: 0 calc(100% - var(--table-border-width));
				width: 100%;
				span {
					border-bottom: var(--table-border-width) solid gray;
					bottom: 0;
					left: 0;
					position: absolute;
				}
			}
		}
		td {
			border-right: var(--table-border-width) solid gray;
			min-width: 40px;
			padding: 4px;
			text-align: right;
		}
	}
}

@media screen and (max-width: 700px) {
	.climatlangue {
		margin: 0 10px;
	}
}

@media screen and (min-width: 520px) and (max-width: 580px) {
	.climatlangue {
		width: 478px;
		.climattab button {
			padding: 11px;
		}
		#fermerville {
			top: 65px;
		}
	}
}

@media screen and (max-width: 520px) {
	.climatlangue {
		margin: 0;
		width: 100%;
		.climattab button {
			padding: 5px;
		}
		#fermerville {
			top: 40px;
		}
		.climattable {
			font-size: small;
			padding-left: 0;
			th,
			td {
				padding-left: 0;
			}
		}
	}
}

@media screen and (max-width: 434px) {
	.climatlangue #fermerville {
		top: 55px;
	}
}

// ANIMAUX

#anitable {
	background-color: inherit;
	margin: 0 50px;
	div {
		display: flex;
		div {
			border-left: 1px solid rgb(160, 160, 160);
			border-bottom: 1px solid rgb(160, 160, 160);
			border-collapse: collapse;
			text-align: left;
			padding: 8px;
			word-wrap: break-word;
			font-size: smaller;
			i {
				display: none;
			}
			&:first-child {
				width: 15%;
				font-size: 95%;
				font-weight: bold;
			}
			&:nth-child(2) {
				width: 18%;
			}
			&:nth-child(3) {
				width: 12%;
			}
			&:nth-child(4) {
				width: 55%;
				border-right: 1px solid rgb(160, 160, 160);
			}
		}
		&:first-child {
			font-weight: bold;
		}
	}
	& > div:first-child {
		border-top: 1px solid rgb(160, 160, 160);
	}
}

@media screen and (max-width: 800px) {
	#anitable {
		margin: 0 10px;
		div {
			div {
				&:first-child {
					font-size: smaller;
				}
			}
		}
	}
}

@media screen and (max-width: 600px) {
	#anitable {
		div {
			flex-direction: column;
			width: 100%;
			border: 1px solid rgb(160, 160, 160);
			border-collapse: collapse;
			div {
				text-align: center;
				width: 100%;
				border: none;
				align-items: stretch;
				i {
					display: inline;
				}
				&:first-child,
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4) {
					width: initial;
					border: none;
				}
			}
			&:first-child div {
				display: none;
			}
		}
	}
}

// DESTINATIONS onglets

.destitab {
    align-items: center;
    display: flex;
	margin: 0 50px;
	overflow: hidden;
    #destitabRoute {
        padding: 14px 16px 14px 0;
    }
    #destitabBoutons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button {
            background-color: white;
            cursor: pointer;
            float: left;
            outline: none;
            padding: 14px 16px;
            transition: 0.3s;
        
            &:hover {
                background-color: $coul6;
                color: white;
            }
        
            &.active {
                background-color: $coul5;
                color: white;
            }
        }
    }
    
}

@media screen and (max-width: 800px) {
	.destitab {
		margin: 0 10px;
	}
}

@media screen and (max-width: 530px) {
	.destitab #destitabBoutons button {
		padding: 10px 12px;
	}
}

@media screen and (max-width: 440px) {
	.destitab #destitabBoutons button {
		padding: 8px 10px;
	}
}

@media screen and (max-width: 405px) {
    .destitab {
        flex-direction: column;
        #destitabBoutons {
            justify-content: center;
        }
    }
}

/*DESTINATIONS détails*/

.destitable {
	display: none;
	h3 i {
		cursor: pointer;
		text-align: right;
		margin-left: 20px;
		&:hover {
			color: $coul6;
		}
	}
	img {
		margin-top: 20px;
	}
	.destigrid {
		column-gap: 25px;
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto auto;
		justify-content: space-around;
		margin: 0 50px;
		.desticol {
            h5 {
                font-size: medium;
            }
			p {
				line-height: 1.4;
				margin: 10px 0;
			}
			figure {
				margin: 0 auto;
				transition: 0.3s;
				width: 100%;
				img {
					display: block;
					object-fit: cover;
					width: 100%;
				}
				figcaption {
					background-color: black;
					color: white;
					font-size: medium;
					padding: 10px 0;
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.destitable .destigrid {
		grid-template-columns: auto;
		.desticol h5 {
			margin-left: 0;
		}
	}
}

@media screen and (max-width: 800px) {
	.destitable {
		margin: 0 10px;
		.destigrid {
			margin: 0 10px;
		}
	}
}

hr {
	color: $coul6;
	margin-top: 30px;
	width: 50%;
}

/*GETTING AROUND*/

#transportbike {
	iframe {
		border-radius: 5px;
		display: block;
		height: 480px;
		margin: 0 auto;
		width: MIN(90%, 640px);
	}
	p {
		font-size: small;
		text-align: center;
	}
}

/*AUTRE*/

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 650px) {
	img {
		width: 90%;
	}
}

footer {
	background-color: $coul1;
	margin-top: 12px;
	padding: 15px;
	p {
		text-align: center;
		img {
			width: 80px;
		}
	}
}

/* Couleurs
    $coul1 Flax
    $coul2 Misty Moss
    $coul3 Russian Green
    $coul4 Dark Green
    $coul5 Old Lavender
    $coul6 English Violet
*/
