<IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteBase /
    RewriteRule ^$ ccs-serveur.onrender.com:3000/ [P,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule ^(.*)$ ccs-serveur.onrender.com:3000/$1 [P,L]

</IfModule>